Source: asyncserf
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/smurfix/asyncserf

Package: python3-asyncserf
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
  python3-trio,
Description: Python client for the Serf orchestration tool
 AsyncSerf is an async Python interface to Serf, the decentralised solution
 for service discovery and orchestration.
 .
 It uses anyio to handle concurrency, thus works with asyncio, trio, and curio.

